/* For Index.html exercise
body {
    margin: 0;
}
*/
.fondo
{       
    height: 100vh;
    background: url(fondo2.jpg);
    background-size: 100% 100%;
}
/*Nuevo ejercicio
.ejercicio
{
    display: block;
    width: 30px; 
    height: 30px;
    background: url(checkbox.png) -15px -266px; 
    background-size: 500%;
    margin: 0px auto;
   
}

.ejercicio2
{
    display: block;
    width: 30px; 
    height: 30px;
    background: url(checkbox.png) -105px -266px; 
    background-size: 500%;
    margin: 0px auto;

}*/

#centradito
{
    text-align: center;
}

#box
{   display: none;
   
}

.check
{
    display: inline-block;
    width: 30px; 
    height: 30px;
    background: url(checkbox.png); 
    background-size: 500%;
    
}

#box + label.check
{ 
    background-position: -15px -266px; 
 
}    

#box:checked + label.check
{ 
  background-position: -105px -266px;  
 }