/*Index*/
body {
    margin: 0;
}

.fondo
{       
    height: 100vh;
    background: url(fondo2.jpg);
    background-size: 100% 100%;
}
/*Nuevo ejercicio*/
.ejercicio
{
    display: inline-block;
    width: 30px; 
    height: 30px;
    background: url(checkbox.png) -15px -266px; 
    background-size: 500%;
   
}

.ejercicio2
{
    display: inline-block;
    width: 30px; 
    height: 30px;
    background: url(checkbox.png) -105px -266px; 
    background-size: 500%;
   
}